<h1>Editing Film</h1>
<% if user_signed_in? %>
    <%= render 'form', film: @film %>
    
    <%= link_to 'Show', @film,  class: "btn btn-default"  %> |
    <%= link_to 'Back', films_path, class: "btn btn-default"  %>
<% else  %>
	<h2> Not logged </h2>
<% end %>